<style>body {
     background-image: url("http://www.myfreetextures.com/wp-content/uploads/2011/06/illust31.jpg");

 }</style>

<body>
    @{
        ViewBag.Title = "Projekt";
    }
    <h2>@ViewBag.Title.</h2>





    <p>Nutnou podmínkou k absolvování předmětu je odevzdání samostatného projektu, kde prokážete schopnost vytvořit funkční a použitelnou aplikaci. Projekty budete vypracovávat postupně v průběhu semestru a budou průběžně cvičícím bodovány vždy po dokončení daného milníku.</p>
    <p>
        Projekty budou vypsány jako tematický balík v ISu, k němuž je potřeba se ve stanoveném termínu přihlásit. Pokud přijdete s vlastním projektem, rádi jej vypíšeme. V tom případě ale kontaktujte <a href="gesvindr@mail.muni.cz">Davida Gešvindra</a> do 7. 3. 2015.
    </p>
    <block>
        <strong>Termíny:</strong></br>
        <t>29. 2. 2016 - zveřejnění zadání projektů</t></br>
        <t>31. 3. 2016 - deadline pro výběr projektu</t></br>
        <t>18. 4. 2016 - odevzdání Data Access Layer projektu</t></br>
        <t>2. 5. 2016 - odevzdání Business Layer projektu</t></br>
        <t>9. 5. 2016 - odevzdání základů prezentační vrstvy projektu</t></br>
        <p>
            &nbsp Pondělní a páteční skupiny mají kvůli Velikonocím o týden navíc
        </p>
        <p>&nbsp Za aktivní konzultaci s cvicícím můžete získat o týden navíc (sčítá se s předchozím bodem)     </p>
        <t>30. 5. 2016 - termín pro odevzdání hotového projektu</t></br>
        <p> &nbsp (navýšeno o jeden týden navíc; ti z Vás kteří budete dělat statnice a potřebujete mít zavčas hodnocení myslete na to, že projekt je dobré odevzdat co nejdříve a současně upozorněte cvičícího na brzké opravení).</p>
    </block>
    <br/><br /><br />
<text>
    <style>pr{color: green}n{color:red}</style>
    <pr>DONE</pr>Obsahovat přehled projektů, kde budou projekty rozděleny do skupiny podle zákazníka<br/>
    <pr>DONE</pr>V přehledu projektů zobrazit počty nezpracovaných/řešících se/dokončených chyb, a stejně tak i požadavků<br/>
    <n>NOT DONE</n>Obsahovat přehled všech chyb a požadavků s možností filtru podle projektu, typu a stavu<br/>
    <pr>DONE</pr>V přehledu chybu/požadavků viditelně odlišovat jejich typ (chyba/požadavek) a stav<br/>
    <pr>DONE</pr>Ošetřovat vstupy uživatele a nedovolit chybné zadání údajů<br/>
    <pr>DONE</pr>Umožnit uživatelům vést u daného požadavku diskuzi<br/>
    <n>NOT DONE</n>
    Umožnit uživateli zaregistrovat se ke sledování změn nad jakýmkoliv požadavkem a poskytnou nástroje pro správu aktivních notifikací.Oznámení by se měla, jak zobrazovat v systému, tak být podle preferencí zasílána uživateli e-mailem.<br/>
</text>


</body>